.table {
  width: 700px;
}

table,
th,
td {
  border: 2px solid rgb(14, 14, 14);
  border-collapse: collapse;
}

.tableTitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.1;
  color: white;
  background-color: rgb(60, 60, 60);
}

.titleItem {
  padding-top: 8px;
  padding-bottom: 8px;
}

.tableItem {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.1;
  color: rgb(14, 14, 14);
  text-transform: capitalize;
}

.tableType,
.tableAmount,
.tableCurrency {
  width: 33%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.tableItem:nth-child(odd) {
  background-color: rgb(213, 213, 213);
}

.tableType {
  padding-left: 50px;
  text-align: left;
}
